@page "{restaurantId:int}"
@model RazorPagesDemo1.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<h2>@Model.Restaurant.Name</h2>

<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cousine: @Model.Restaurant.Cousine
</div>

<a asp-page="./List" class="btn btn-outline-info">All Restaurants</a>
